@use "../../../scss" as *;

.nav {
  display: none;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40px);

  @include tablet() {
    display: block;
  }

  @include desktop() {
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      left: -74%;

      content: " ";
      width: 44rem;
      height: 1px;
      background-color: darken($white, 60%);
    }
  }

  ul {
    display: flex;
    padding: 0 4rem;

    .active {
      border-bottom: 3px solid $white;
    }

    a:link,
    a:visited {
      display: inline-block;
      padding: 3.4rem 0;
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 400;
      font-size: 1.45rem;
      letter-spacing: 2.3px;
      text-transform: uppercase;
      color: $white;
    }

    @include tablet() {
      gap: 3.7rem;
      padding: 0 4.8rem;
    }

    @include desktop() {
      counter-set: link-counter;

      a:link,
      a:visited {
        counter-increment: link-counter;

        &::before {
          content: "0" counter(link-counter);
          margin-right: 1.1rem;
          font-weight: bold;
        }
      }
    }
  }
}
