.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    line-height: 0;

    img {
      width: 4rem;
      height: 4rem;
    }
  }

  &__burger {
    width: 2.4rem;
    height: 2.1rem;
  }

  &__list {
    display: none;
  }
}
