@use "../../../../scss" as *;

.nav {
  display: none;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;

  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40px);
  padding: 0 4.8rem;

  ul {
    display: flex;
    justify-content: center;
    gap: 3.7rem;

    a:link,
    a:visited {
      display: inline-block;
      padding: 3.4rem 0;
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 400;
      font-size: 1.45rem;
      letter-spacing: 2.3px;
      text-transform: uppercase;
      color: #fff;
    }
  }

  @include tablet() {
    display: block;
  }

  @include desktop() {
    padding: 0 18rem 0 12.3rem;
    counter-set: link-counter;

    ul {
      gap: 4.8rem;

      a:link,
      a:visited {
        font-size: 1.6rem;
        counter-increment: link-counter;

        &::before {
          content: "0" counter(link-counter);
          margin-right: 1.1rem;
        }
      }
    }
  }
}
