@use "../../../../scss" as *;

.nav {
  display: none;

  position: absolute;
  top: 0;
  right: 0;

  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40px);
  padding: 0 4.8rem;

  ul {
    display: flex;
    gap: 3.7rem;

    a:link,
    a:visited {
      display: inline-block;
      padding: 3.4rem 0;
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 400;
      font-size: 1.45rem;
      letter-spacing: 2.3px;
      text-transform: uppercase;
      color: #fff;
    }
  }
}

@include tablet() {
  .nav {
    display: block;
  }
}
