@use "../../scss" as *;

.crew {
  @include mobileWidth();

  &::before {
    @include overlay(0.46);
  }

  @include tablet() {
    max-width: 60rem;
    padding: 4rem 0;
  }

  @include desktop() {
    max-width: 128rem;
    padding: 0 6rem 5.5rem;
  }
  //  ===========END===============

  &__video {
    @include video();

    @include desktop() {
      display: block;
    }
  }

  &__background {
    @include background();

    @include desktop() {
      display: none;
    }
  }

  &__sub {
    text-align: center;
    margin-bottom: 3.2rem;

    span {
      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase;
      letter-spacing: 2.7px;
    }

    &--num {
      margin-right: 1.8rem;
      font-weight: 700;
      color: darken($white, 70%);
    }

    &--title {
      font-weight: 400;
      color: $white;
    }

    @include tablet() {
      text-align: left;
      margin-bottom: 6rem;

      span {
        font-size: 2rem;
      }
    }

    @include desktop() {
      span {
        font-size: 2.8rem;
      }
    }
  }

  &__content {
    @include tablet() {
      display: flex;
      flex-direction: column;
    }

    @include desktop() {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }

  &__images {
    @include tablet() {
      order: 2;
    }
  }

  &__wrapped-description {
    @include tablet() {
      order: 1;
      display: flex;
      flex-direction: column;
    }

    @include desktop() {
      height: 39rem;
      justify-content: space-between;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 1.6rem;

    button {
      background-color: #41444c;
      border-radius: 100px;
      width: 10px;
      height: 10px;
    }

    &--active {
      transition: all 0.8s;
      background-color: $white !important;
    }

    @include tablet() {
      order: 2;
      margin-bottom: 4rem;
    }

    @include desktop() {
      justify-content: flex-start;
      gap: 2.4rem;

      button {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__description {
    padding-top: 3.2rem;
    text-align: center;

    span {
      display: block;
      font-family: "Bellefair", serif;
      color: darken($white, 50%);
      margin-bottom: 0.8rem;
    }

    h2 {
      margin-bottom: 1.6rem;
      font-size: 2.4rem;
      color: $white;
    }

    @include tablet() {
      padding: 0;

      div {
        margin-bottom: 4rem;
      }

      h2 {
        font-size: 4rem;
      }
    }

    @include desktop() {
      text-align: left;

      div {
        margin-bottom: 0;
      }

      span {
        font-size: 3.2rem;
      }

      h2 {
        font-size: 5.6rem;
      }

      p {
        max-width: 45rem;
        font-size: 1.8rem;
      }
    }
  }
}
