@use "../../scss" as *;

.crew {
  padding: 0 2.4rem;
  max-width: 375px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);
    z-index: -5;
  }

  @include tablet() {
    max-width: 600px;
    padding: 4rem 0;
  }

  @include desktop() {
    max-width: 1340px;
    padding: 0 6rem;
  }

  @include large() {
    max-width: 1540px;
  }

  &__video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;

    @media (min-aspect-ratio: 16/9) {
      width: 100%;
      height: auto;
    }

    @media (max-aspect-ratio: 16/9) {
      width: auto;
      height: 100%;
    }

    @include desktop() {
      display: block;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }

  &__sub {
    text-align: left;
    margin-bottom: 3.2rem;

    span {
      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase;
      letter-spacing: 2.7px;
    }

    &--num {
      margin-right: 1.8rem;
      font-weight: 700;
      color: darken($white, 70%);
    }

    &--title {
      font-weight: 400;
      color: $white;
    }

    @include tablet() {
      text-align: center;
      margin-bottom: 6rem;

      span {
        font-size: 2rem;
      }
    }

    @include desktop() {
      text-align: left;

      span {
        font-size: 2.8rem;
      }
    }
  }

  &__content {
    @include tablet() {
      display: flex;
      flex-direction: column;
    }

    @include desktop() {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }

  &__images {
    @include tablet() {
      order: 2;
    }
  }

  &__wrapped-description {
    @include tablet() {
      order: 1;
      display: flex;
      flex-direction: column;
    }

    @include desktop() {
      height: 390px;
      justify-content: space-between;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 1.6rem;

    button {
      background-color: #41444c;
      border-radius: 100px;
      width: 10px;
      height: 10px;
    }

    &--active {
      transition: all 0.8s;
      background-color: #fff !important;
    }

    @include tablet() {
      order: 2;
      margin-bottom: 4rem;
    }

    @include desktop() {
      justify-content: flex-start;
      gap: 2.4rem;

      button {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__description {
    padding-top: 3.2rem;
    text-align: center;

    span {
      display: block;
      font-family: "Bellefair", serif;
      color: darken($white, 50%);
      margin-bottom: 0.8rem;
    }

    h2 {
      margin-bottom: 1.6rem;
      font-size: 2.4rem;
      color: $white;
    }

    @include tablet() {
      padding: 0;

      div {
        margin-bottom: 4rem;
      }

      h2 {
        font-size: 4rem;
      }
    }

    @include desktop() {
      text-align: left;

      div {
        margin-bottom: 0;
      }

      span {
        font-size: 3.2rem;
      }

      h2 {
        font-size: 5.6rem;
      }

      p {
        max-width: 450px;
        font-size: 1.8rem;
      }
    }
  }
}
