@use "../../scss" as *;

.home {
  max-width: 37.5rem;
  padding: 0 2.4rem;
  margin: 6.4rem auto 0;

  text-align: center;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    object-fit: fill;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 8.1rem;

    span {
      font-size: 1.6rem;
      letter-spacing: 2.7px;
    }

    h1 {
      font-size: 8rem;
    }

    @include tablet() {
      span {
        font-size: 2rem;
      }

      h1 {
        font-size: 15rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    @include desktop() {
      max-width: 45rem;
      margin-bottom: 0;

      span {
        font-size: 2.8rem;
      }

      p {
        font-size: 1.8rem;
      }
    }
  }

  &__explore {
    position: relative;
    z-index: -5;
    display: inline-block;
    background-color: $white;
    width: 15rem;
    height: 15rem;
    border-radius: 100%;

    &::before {
      content: "explore";
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: 1.2px;
      color: $dark;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include tablet() {
      width: 24rem;
      height: 24rem;

      &::before {
        font-size: 3.2rem;
      }
    }

    @include desktop {
      width: 27rem;
      height: 27rem;
    }
  }

  @include tablet() {
    max-width: 45rem;
    padding: 10.6rem 0 0;
    margin: 0 auto 0;
  }

  @include desktop() {
    text-align: left;
    padding: 20rem 5.5rem 0;
    max-width: 145.5rem;

    &__content-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: center;
    }
  }

  @include large() {
    max-width: 170rem;
  }

  @include extra-large() {
    max-width: 186rem;
  }
}
