@use "../../scss" as *;

.home {
  @include mobileWidth();
  text-align: center;

  &::before {
    @include desktop() {
      @include overlay(0.6);
    }
  }

  @include tablet() {
    max-width: 45rem;
    padding: 6.4rem 0;
    margin: 0 auto;
  }

  @include desktop() {
    text-align: left;
    padding: 4.4rem 5.5rem 8.4rem;
    max-width: 145.5rem;

    &__content-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: center;
    }
  }

  @include large() {
    padding: 6.4rem 5.5rem 8.4rem;
    max-width: 165rem;
  }
  //  ===========END===============

  &__video {
    @include video();

    @include desktop() {
      display: block;
    }
  }

  &__background {
    @include background();

    @include desktop() {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 8.1rem;

    span {
      font-size: 1.6rem;
      letter-spacing: 2.7px;
    }

    h1 {
      font-size: 8rem;
    }

    @include tablet() {
      span {
        font-size: 2rem;
      }

      h1 {
        font-size: 15rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    @include desktop() {
      max-width: 45rem;
      margin-bottom: 0;

      span {
        font-size: 2.8rem;
      }

      p {
        font-size: 1.8rem;
      }
    }
  }

  &__explore {
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
    background-color: $white;
    width: 15rem;
    height: 15rem;
    display: grid;
    place-items: center;
    border-radius: 100%;

    &:link,
    &:visited {
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: 1.2px;
      color: $dark;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      height: 100%;
      width: 100%;
      border-radius: 100%;
      background-color: rgba($white, 0.7);
      animation: pulse 1.4s ease-out infinite;
    }

    @keyframes pulse {
      100% {
        transform: scale(1.4);
        opacity: 0;
      }
    }

    @include tablet() {
      width: 24rem;
      height: 24rem;

      &:link,
      &:visited {
        font-size: 3.2rem;
      }

      &:before {
        animation: pulse 1.8s ease-out infinite;
      }
    }

    @include desktop {
      width: 27rem;
      height: 27rem;

      &:before {
        background-color: rgba($white, 0.5);
        animation: pulse 1.5s ease-out infinite;
      }
    }

    @include large {
      @keyframes pulse {
        100% {
          transform: scale(1.7);
          opacity: 0;
        }
      }
    }
  }
}
