@use "../../scss" as *;

.technology {
  padding: 0 2.4rem;
  max-width: 375px;
  margin: 0 auto;

  @include tablet() {
    padding: 4rem 0;
    max-width: none;
  }

  &__sub {
    text-align: left;
    margin: 0 4rem 3.2rem;

    span {
      font-size: 2rem;
      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase;
      letter-spacing: 2.7px;
    }

    &--num {
      margin-right: 1.8rem;
      font-weight: 700;
      color: darken($white, 70%);
    }

    &--title {
      font-weight: 400;
      color: $white;
    }
  }

  &__images {
    margin-bottom: 3.4rem;

    img {
      width: 100%;
      height: 170px;
    }

    @include tablet() {
      img {
        height: 310px;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    height: 100%;
    gap: 1.6rem;
    margin-bottom: 2.6rem;

    a:link,
    a:visited {
      display: inline-block;
      color: $white;
      border: 1px solid darken($white, 60%);
      border-radius: 100px;
      padding: 1.1rem 1.6rem;
    }

    a.active,
    a:hover,
    a:active {
      color: #333;
      background-color: $white;
    }

    @include tablet() {
      margin-bottom: 4.4rem;

      a:link,
      a:visited {
        font-size: 2.4rem;
        padding: 1.56rem 2.32rem;
      }
    }
  }

  &__content {
    text-align: center;

    span {
      font-size: 1.4rem;
      font-family: "Barlow Condensed", sans-serif;
      letter-spacing: 2.3px;
      font-weight: 400;
      display: block;
      margin-bottom: 0.9rem;
    }

    h2 {
      color: $white;
      margin-bottom: 1.6rem;
    }

    p {
      max-width: 360px;
      margin: 0 auto;
    }

    @include tablet {
      span {
        font-size: 1.6rem;
        margin-bottom: 1.6rem;
      }

      h2 {
        font-size: 4rem;
      }

      p {
        max-width: 440px;
      }
    }
  }
}
