@use "../../scss" as *;

.technology {
  padding: 0 2.4rem;
  max-width: 375px;
  margin: 0 auto;

  @include tablet() {
    padding: 4rem 0;
    max-width: none;
  }

  @include desktop() {
    max-width: 1500px;
    padding: 10rem 6.4rem 2.4rem;
  }

  &__sub {
    text-align: left;
    margin: 0 4rem 3.2rem;

    span {
      font-size: 2rem;
      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase;
      letter-spacing: 2.7px;
    }

    &--num {
      margin-right: 1.8rem;
      font-weight: 700;
      color: darken($white, 70%);
    }

    &--title {
      font-weight: 400;
      color: $white;
    }

    @include tablet() {
      span {
        font-size: 2rem;
      }
    }

    @include desktop() {
      margin: 0 0 2.6rem;

      span {
        font-size: 2.8rem;
      }
    }
  }

  &__content {
    @include desktop() {
      display: grid;
      grid-template-columns: 0.2fr 1fr 1fr;
      align-items: center;
      gap: 8rem;
    }
  }

  &__images {
    margin-bottom: 3.4rem;

    img {
      width: 100%;
      height: 170px;
    }

    @include tablet() {
      img {
        width: 100%;
        height: 310px;
      }
    }

    @include desktop() {
      order: 3;
      text-align: right;
      margin-bottom: 0;

      img {
        width: 520px;
        height: 530px;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    height: 100%;
    gap: 1.6rem;
    margin-bottom: 2.6rem;

    a:link,
    a:visited {
      display: inline-block;
      color: $white;
      border: 1px solid darken($white, 60%);
      border-radius: 100px;
      padding: 1.1rem 1.6rem;
    }

    a.active,
    a:hover,
    a:active {
      color: #333;
      background-color: $white;
    }

    @include tablet() {
      margin-bottom: 4.4rem;

      a:link,
      a:visited {
        font-size: 2.4rem;
        padding: 1.56rem 2.32rem;
      }
    }

    @include desktop() {
      order: 1;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;

      a:link,
      a:visited {
        font-size: 3.2rem;
        padding: 2.04rem 3.12rem;
      }
    }
  }

  &__information {
    text-align: center;

    span {
      font-size: 1.4rem;
      font-family: "Barlow Condensed", sans-serif;
      letter-spacing: 2.3px;
      font-weight: 400;
      display: block;
      margin-bottom: 0.9rem;
    }

    h2 {
      color: $white;
      margin-bottom: 1.6rem;
    }

    p {
      max-width: 360px;
      margin: 0 auto;
    }

    @include tablet {
      span {
        font-size: 1.6rem;
        margin-bottom: 1.6rem;
      }

      h2 {
        font-size: 4rem;
      }

      p {
        max-width: 440px;
      }
    }

    @include desktop() {
      order: 2;
      text-align: left;

      span {
        margin-bottom: 1.1rem;
      }

      h2 {
        font-size: 5.6rem;
      }

      p {
        margin: 0;
        font-size: 1.8rem;
        max-width: 540px;
      }
    }
  }
}
