@use "../../../scss" as *;

.header {
  &__wrapper {
    padding: 0 2.4rem;
    max-width: 375px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet() {
      padding: 0 4rem;
      max-width: 730px;
    }

    @include desktop() {
      max-width: 1400px;
      padding: 0 5.5rem;
    }
  }

  &__logo {
    line-height: 0;

    img {
      width: 4rem;
      height: 4rem;
    }
  }
}
