@mixin sideGap() {
  padding: 0 2.4rem;
  max-width: 375px;
  margin: 0 auto;
}

@mixin wideGap() {
  padding: 0 4rem;
  max-width: 730px;
  margin: 0 auto;
}

@mixin tablet() {
  @media only screen and (min-width: 600px) {
    @content;
  }
}
